body{
    margin:0;

}

.background-image{
    height:100vh;
    width:100vw;
    background-image: url(/css_blend_mode/elephants.jpg);
    background-color:blue;
    background-size: cover;
    background-blend-mode: multiply;

}