*{
    margin:0;
    padding:0;
}



body{
    /* background-image: url("../images/nairobi1.jpg"); */
    color: #fff;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    height: 90vh;
   
    
}

header #header{
    float:left;
    
}

    

header #navbar ul{
    list-style: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    

}

header #navbar ul li{
    display: inline;

}


header #navbar ul li a {
    text-decoration: none;
    color: rgb(42, 42, 53);
    transition-property: background-color, transform;
    transition-duration: 1s;
    animation-fill-mode: forwards;
}



a:hover, a:focus {
    background-color: aqua;
    border-radius: 1em;
    color: #fff;
    cursor: pointer;
    border-bottom: #333 2px outset;
    transform: rotateY(180deg);
    
}

#showcase-heading{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 200;
    animation-name: myanimation;
    animation-duration: 4s;
    width: fit-content;
    position: relative;
    left: 25%;
    right:75%;
    border-radius: 2.7em;  
}


#showcase-heading #smile{
    transform: rotateY(90deg);
    color: rgba(52, 52, 107, 0.603);
    font-size: 3em;


}
#showcase img{
    position: absolute;
    top: 0;
    z-index: -1;
    background-position: center;
    width: 100vw;
    background-size: cover;


}

.container #heading-1{
    text-align: center;
}

.container #contacts{

    text-align: center;
    line-height: 3.2rem;
}


.container-1 #services p{
    color:#fff;
    z-index: 4;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 200;
    border-bottom-style: double;
    border-bottom-color: aqua;
    border-bottom-width: 48%;
}

.container-1 #services ol{
    margin: auto;
    text-align: center;
    list-style: lower-roman;
    line-height: 3.2rem;
    animation: listanimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container-1 #services ol li{
    list-style: lower-roman;
}

.container-1 #services{
    animation: listanimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container #contacts-twitter a{
    color:rgb(42, 42, 53);
    text-decoration: none;
}

.container #contacts-insta a{
    color:rgb(42, 42, 53);
    text-decoration: none;
}


footer{
    position: fixed;
    bottom: 0;
    left:35%;
    right:65%;
    width:500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@keyframes myanimation{
    0% {background-color: rgb(44, 38, 3); left: 0px; top:0px; border-radius: 0 0 0 0;}
    25%{background-color: rgb(165, 156, 107); left:300px; top:0px; border-radius: 50% 0 90% 0;}
    100%{background-color: gold; left: 25%; right:75%; border-radius: 80% 50% 80% 50%;}
}

@keyframes listanimation{
    0%{left: 0px; top:0px;}
    25%{left:300px; top:0px;}
    100%{left: 25%; right:75%;}
}







