
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: dodgerblue;
    color:#fff;
    display: grid;
    grid-template-areas: 
    'content'
    'education'
    'skills'
    'projects'
    'experience'
    'footer';
    text-align: center;
    line-height: 1.6em;
    grid-gap: 50px;

}
.header{
    border: 2px solid ;
    text-align: center;
    border-radius: 50%;
    border-top: 50px;
    font-size: 20px;
    padding:15px 10px 15px 0px;
    display: block;
    box-sizing: border-box;
    width:100px;
    height:100px;
    margin: 0 auto;
}
.content #image-1{
    height: 600px;
    border: 2px solid dodgerblue; 
    background-image: url(/erickogrid/0.jpeg);
    background-color: darkcyan;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.contact div{
    display: flex;
    flex-direction: column;
}

.content{
   
    grid-area: content;
}
.education{

    grid-area: education;
    border:2px solid white;
    height: fit-content;
    border-radius: 2px;
   
}
.skills{

    grid-area: skills;
    height: fit-content;
    display: flex;
    flex-direction:column;
    box-shadow: 6px 6px white ;
    
}
.projects{
  
    grid-area: projects;
    border:2px solid white;
    height: fit-content;
    border-radius: 2px;
}
.experience{
    grid-area: experience;
    border:2px solid white;
    height: fit-content;
    border-radius: 20px;
   
}



.footer{
    text-align: center;
    box-sizing: border-box;
    width:100vw;
    margin:0;
    grid-area: footer;

}

@media (min-width:600px){
    body{
        grid-template-areas: 
        'header content education skills projects experience ';
        grid-gap: 50px;
    }


}
